CS-771/Assignments/hw1/data
/home/divyansh/Desktop/Sem 5/CS-330/Assignment 1/all_test_cases
/home/divyansh/Desktop/Sem 5/CS-330/Assignment 1/Part1
/home/divyansh/Desktop/Sem 5/CS-330/Assignment 1/Part2
/home/divyansh/Desktop/Sem 5/CS-330/Assignment 1/Part3
CS-330/Assignment 1/all_test_cases/Part2/Testcase9/Root/A/
